<footer class="footer">
    <div class="container">

      <span class="pull-right">
        {{ site.title }} {{ site.time | date: '%Y' }}
      </span>

        <p class="text-center">
            <a href="{{ site.posts.first.url | prepend: site.baseurl }}" alt="Blog de Manual Web">Blog</a> |
            <a href="{{site.baseurl}}/descargas/" alt="Descargar Manuales Web">Descargas</a> |
            <a href="{{site.baseurl}}/acerca-de/" alt="Acerca de Manual Web" rel="nofollow">Acerca de</a> |
            <a href="{{site.baseurl}}/lista-de-correo/" alt="Lista de Correo de Manual Web" rel="nofollow">Lista de Correo</a> |
            <a href="{{site.baseurl}}/contactar/" alt="Contactar con el equipo de Manual Web" rel="nofollow">Contactar</a>
        </p>

  </div>
</footer>
