---
layout: default
---

<div class="container">
    <div class="row">


      <div class="col-md-8 col-md-push-4">
          <h1>{{ page.title }}</h1>
          <img src="{{site.baseurl}}/img/logos/html5.png" id="logo-manual" class="img-responsive">
          <div id="markdown-content-container">{{ content }}</div>

          <p class="text-center">
            <br />
            <a target="_blank" href="{{site.git_edit_address}}/{{ page.path }}" class="btn btn-default githubEditButton" role="button">
              <i class="fa fa-pencil fa-lg"></i> Mejora esta página
            </a>
          </p>

          {% include ads.html %}

          <hr>
          {% include section_nav.html items=site.data.html5 name="html5" %}


      </div>


        <div class="col-md-4 col-md-pull-8">

          {% include nav.html items=site.data.html5 site=site.html5 name="html5" %}

          <a href="{{site.baseurl}}/html5/descargar-manual-html5"><img class="pull-right" src="{{site.baseurl}}/img/pdf.png"></a>
          <h2>Descargar</h2>
          El manual se encuentra en continua revisión. Desde aquí puedes obtener la <a href="{{site.baseurl}}/html5/descargar-manual-html5">última versión digital del <strong>Tutorial HTML5</strong> o bien obtener actualizaciones mensuales del manual</a>.
          <br>
          También tenéis la opción de <a href="{{site.baseurl}}/descargas/">descargar otros manuales</a> o el <a href="{{site.baseurl}}/descargas/#todos-los-manuales">pack con todos los manuales</a>.


          {% include ads.html %}

          <h2>Vídeos HTML5</h2>
          <script src="https://apis.google.com/js/platform.js"></script>
          <div class="g-ytsubscribe" data-channel="lineadecodigo" data-layout="default" data-count="default"></div><br/>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/videoseries?list=PLLVIhySQmrVZvt63iAl2xSwTePNmd-UhI" allowfullscreen></iframe>
          </div>
        </div>

    </div>
</div>
