---
layout: default
---

<div class="container">
    <div class="row">

      <div class="col-md-8 col-md-push-4">
          <h1>{{ page.title }}</h1>
          <p>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %} • {{ content | reading_time_as_i }}</p>
          <div  id="markdown-content-container">{{ content }}</div>

          {% include ads.html %}
          
          <hr>
          <ul class="pager">
              {% if page.previous %}
              <li class="previous">
                  <a href="{{ page.previous.url | prepend: site.baseurl }}">
                      <span aria-hidden="true">&larr;</span> Más antiguo
                  </a>
              </li>
              {% endif %} {% if page.next %}
              <li class="next">
                  <a href="{{ page.next.url | prepend: site.baseurl }}">
                    Más nuevo <span aria-hidden="true">&rarr;</span>
                  </a>
              </li>
              {% endif %}
          </ul>
      </div>

      <div class="col-md-4 col-md-pull-8">
            <div class="well">
                <h3>Últimas Novedades</h3>
                <ul class="list-unstyled post-list-container">
                    {% for post in site.posts limit:10 %}
                    <li><a href="{{ post.url | prepend: site.baseurl }}" {% if page.title==post.title %} class="active" {% endif %}>{{ post.title }}</a></li>
                    {% endfor %}
                    <li><a href="{{ "/blog/allposts/" | prepend: site.baseurl }}">Todas las entradas ...</a></li>
                </ul>
            </div>
            {% include ads.html %}
      </div>



    </div>
</div>
